.page {
  width: 100%;
  overflow: hidden;
}
.header {
  line-height: 44px;
  height: 44px;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #5e35b1;
}
.container {
  width: 100%;
  text-align: center;
}
.canvas-wrapper {
  padding: 15px 0;
  width: 100%;
  max-width: 600px;
}
.canvas {
  width: 320px;
  height: 384px;
  margin: 0 auto;
  box-shadow: 3px 3px 10px rgba(3, 3, 3, .2);
}
.opreate-option {
  display: flex;
  height: 40px;
  width: 100%;
  text-align: center;
}
.picture-selector, .picture-save {
  flex: 0 0 50%;
  margin: 0 auto;
  max-width: 140px;
  line-height: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #5e35b1;
  color: #fff;
  font-size: 14px;
}
.controller .text {
  margin: 15px auto;
  padding: 10px;
  width: 320px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgba(7, 17, 27,.1);
}
.text-area {
  display: block;
  padding: 0;
  width: 100%;
  height: 120px;
  border: 0;
}
